/* Style CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,adnav,adheader{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* CSS for HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,adnav,adheader{display:block;}*{margin:0;padding:0;}html{display:block;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{background:transparent;}table{border-collapse:collapse;border-spacing:0;}
/* Body */
body{background:#fff;font-family: &#39;Open Sans&#39;, serif;font-size: 14px;color: #555;line-height:1.6em;margin: 0;text-decoration:none;}
a,a:link,a:visited,a:active {color:#276da8;text-decoration:none;}a:hover{color:#000 }
.left{float:left}.right{float:right}.clear{clear:both}
.icons {width:28px;height:35px}
h2.date-header{display:none}
#sidebar-wrapper h2,.PopularPosts ul,.meta_post,.breadcrumbs,#featured_more,#footer-wrapper,#fitured,.viral-menu,#comments,.FeaturedPost h3,.post h2,.post h1,.item .don-share .don-share-total .don-count,.item .don-btn,.related-post,#blog-pager,.blog-pager,#navi-post .nexprev,.subs,#ads1_here h2,#ads2_here h2,.post-label a.post-body h2, .post-body h3,.post-body h4,.post-body h5,.post-body h6{font-family: &quot;Poppins&quot;, &quot;Arial&quot;, sans-serif;}
/* Header wrapper */
#wrapper {background:#fff;position:relative;width:100%;overflow:hidden;margin:0 auto;padding:0}
#header-wrapper{margin:15px auto;padding:0;word-wrap: break-word;position:relative;overflow:hidden;}

#header-left{ padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 49%;
    float: right;  
  }
#header-right{  padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 49%;
    float: left;
    text-align: left;
    position: absolute;
    left: 0;
    top: 12px;
  }
#header{position:absolute;right:-999999;top:-9999;height:0;width:0;z-index:-1}
#content-wrapper{    width: 100%;
    position: relative;
    display: block;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
    word-wrap: break-word;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    bottom: -10px;}
#content2-wrapper{position:relative;display:block;overflow:hidden}
.limit-wrapper{width:100%;max-width:1030px;margin: 0 auto;padding:0;position:relative;overflow:hidden}

.post-thumbnail:hover a.showmore,.post:hover a.showmore{display:block;opacity:1;bottom:41%;transition:all .2s ease-in-out}
/* Advertisement wrapper */
#ads-wrapper{background:#fff;margin:0 auto;padding:0;width:auto;max-width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;;height:auto;list-style:none;text-align:center;}
#ads2-wrapper{border-bottom:none}
#ads1{display:block;float:none;width:100%;padding:0;max-width:728px;text-align:center;margin:auto}
#ads1 .widget-content{margin:0 auto;padding:20px 0 0;list-style:none}
#ads-wrapper,#ads1 img{max-width:100%;height:auto;text-align:center;display:block}
.ads_home{text-align:center;max-width:100%;display:inline-block;overflow:hidden;margin:auto}
.ads_home img{max-width:100%;height:auto;display:block;text-align:center;margin:auto;}
.ads_title{padding:0;margin:0 0 5px;display:block}
#ads1_here,#ads2_here{display:block;overflow:hidden;padding:15px 0;margin:auto;text-align:center;width:100%;float:none}
#ads1_here h2,#ads2_here h2{padding:0;margin:0 0 5px;display:block;text-align:center;font-size:#555;font-size:13px;font-weight:300}
#ads1_here .widget-content,#ads2_here .widget-content{margin:auto;text-align:center;max-width:100%;display:block;overflow:hidden;padding:0;list-style:none}
#ads1_here .widget-content img,#ads2_here .widget-content img{max-width:100%;height:auto;margin:auto;display:block;text-align:center}
/* Search wrapper */
#search_boxs {position:relative;display:inline-block}
#search_boxs #searchs {background: #fff;
    float: left;
    top: 0;
    left: 50px;
    position: absolute;
    border: 1px solid #eee;}
#search_boxs #searchs #search_texts{color:#e2e2e2;width:300px;padding:0px 10px;font-size:16px;height:50px;margin-right:0;outline:none;float:right;top:0;font-weight:700;box-sizing:border-box;transition:all .15s;background:none;border:none}
#search_boxs #searchs #search_texts:focus{color:#f80538}
.icon-src{fill:#aaa;padding:8px 0 0}
#search_boxs .search_buttons{color:#eee;height:50px;text-align:center;
line-height:50px;display:block;cursor:pointer;border:1px solid #eee;display:inline-block;width:50px}
#search_boxs .search_buttons.active,#search_boxs .search_buttons:hover{opacity:0.9;}
/* Menu Wrapper */
.menu-wrapper{width:100%;padding:0;margin:0 auto;font-size:100%;font-weight:700;max-width:1030px}
.viral-menu{ margin:0 auto;padding:0;background:#ffffff;box-shadow: 0 1px 2px 0 rgba(39, 109, 168);
    border-bottom: 1px solid #eee;}

.viral-menu ul{margin:0 auto;padding:0;float:right;height:60px;position:relative;text-align:right;}
.viral-menu ul li{list-style:none;display:inline-block;transition:all 400ms ease-in-out;text-transform:uppercase}
.viral-menu ul li a:hover{color:#eee}
.viral-menu ul li a{color:#000 ;padding:0;margin-right:20px;height:60px;line-height:60px;display:inline-block;text-decoration:none}
.viral-menu ul li a i{font-size:17px;font-weight:700}
.viral-menu ul li a img{vertical-align:middle!important;}
.viral-menu ul ul {list-style:none;opacity:0;position:absolute;top:100%;visibility:hidden;width:190px;z-index:0;overflow:hidden;transition:all .3s ease-out;box-shadow:0 0 3px rgba(0,0,0,.16),0 3px 7px rgba(0,0,0,.1);height:auto}
.viral-menu ul li:hover ul {display:block;margin-top:0;opacity:1;z-index:99999;top:100%;visibility:visible}
.viral-menu ul ul li a {background:#276da8;color:#fff;float:none;display:inline-block;padding:15px 12px;text-align:left;width:190px;height:auto;line-height:1.2em}
.viral-menu ul ul li a:hover {background:#000;color:#fff!important}
.viral-menu ul.viral_social{width:100%;max-width:215px;float:right;text-align:right;display:inline-block;overflow:hidden}
.viral-menu ul.viral_social li a i{font-weight:normal;font-size:23px!important}
.viral-menu ul.viral_social li a{margin:0 0 0 18px;color:rgba(0, 0, 0, 0.7);line-height:65px}
.viral-menu ul.viral_social li a:hover{color:rgba(255,255,255,1)}
#show-menu,#close-menu{transition:all .3s ease-in;display:none}
/* Main wrapper */
#main-wrapper {background:#fff;float:right;padding:10px 10px;margin:0 auto;word-wrap: break-word;overflow: hidden;width:calc(100% - 325px);}
/* Reset post */
.post-body {margin:0 auto;line-height: 1.5em;text-align:right;padding:0}
.post h1 a,.post h1 a:hover {color:#3b7dc1}
.post-body a.img,.post-body .separator a {margin-left:0!important;margin-right:0!important;}
.mobile h1,.mobile h2 {margin:0 0 10px !important}.updated{text-decoration:none !important}
/* bullet dan nummber */
.post-body ul {margin: 5px 0 5px 10px;padding: 0 0 0 15px;list-style-type: inherit;}
.post-body ol {margin: 5px 0 5px 10px;padding: 0 0 0 15px;list-style-type: decimal;}
.resource{padding:0;color: #66798a;font: normal normal 11px/normal Tahoma,Verdana,Arial,Sans-Serif;width:auto}
/* more css */
.separator{float:none;max-width:100%; height: auto; width: auto; padding:0;margin:0 auto;text-align:center !important;overflow:hidden;display:block}
table img, .separator img, .separator a img{max-width:100% !important; height: auto;width:auto !important;margin:0 auto; padding:0;text-align:center !important;display:block}
::selection {background:#f80538;text-shadow:none;color:#fff!important}
.post-body ::selection {background:#f80538;color:#fff!important}
/* Meta post author */
.meta_post{position:relative;padding:0;margin:10px 0;color:#999;line-height:1.4em}
.author a:hover, .clock a:hover{color:#f80538}
.author,.clock{display:block;font-size:13px!important}
.author a{color:#111}
.clock a{color:#999}
/* Sidebar wrapper */
#sidebar-wrapper {    width: 100%;
    max-width: 300px;
    float: left;
    margin: 1px auto 0;
    display: block;
    word-wrap: break-word;
    list-style: none;
    overflow: hidden;
border: 1px solid rgb(235, 235, 243); background-color: white;
  padding: 10px 10px;
}
#sidebarright{width:100%;display:block;overflow:hidden;position:relative}
#sidebar-wrapper h2 {font-size: 19px;line-height: 16px;text-decoration: none;display: inline-block;padding: 0 10px 0 0;margin:0 auto 15px;position: relative;color: #292828;font-weight: 700;letter-spacing: normal;text-transform: uppercase;}
#sidebar-wrapper h2:after {display: block;width: 8888px;height: 0;border-bottom:1px solid;position: absolute;left: 100%;right: auto;top: 50%;content: &quot;&quot;;opacity: 0.12;}
#sidebar1, #sidebar2, #sidebar3, #sidebar4, #sidebar5{margin:0 auto;padding:auto}
#sidebar1 .widget-content,#sidebar2 .widget-content,#sidebar3 .widget-content,#sidebar4 .widget-content,#sidebar5 .widget-content{margin:0 auto 30px;padding:0}
 #ContactForm1{display:none}
/* CSS label */
.widget-content.cloud-label-widget-content {display:inline-block;width:100%;}
.widget-content.list-label-widget-content {padding:0;}
.widget-content.cloud-label-widget-content {display:inline-block;}
.label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5 {font-size:100%;opacity:1}
.cloud-label-widget-content{text-align:left;padding:0}
.label-count {white-space:nowrap;display:inline-block;}
.Label ul {list-style:none !important;margin:0;padding:0;width:100%}
.Label li{position:relative;color:#222;padding:0;margin:0 0 10px;text-align:left;max-width:100%;transition:all .3s ease-out;overflow:hidden}
.Label li a{padding:0;display:inline-block;line-height:1.2em !important;color:#444;text-decoration:none;transition:all .3s ease-out;font-weight:normal !important}
.Label li:last-child{padding:0}
.Label li a:hover {color:#276da8 !important}
.Label li span{display:inline-block;float:right}
.label-size{position:relative;display:block;float:left;margin:0;font-size:13px;transition:all 0.3s;}
.label-size{position:relative;display:block;float:left;margin:0 4px 4px 0;font-size:13px;transition:all 0.3s;}
.label-size a{background:#fff;background-image:linear-gradient(to bottom,rgba(255,255,255,1)0,rgba(250,250,250,1)70%,rgba(246,246,246,1)99%,rgba(246,246,246,1)100%);display:inline-block;color:#444;padding:5px 8px;font-weight:normal !important;border:1px solid #e3e3e3;background-repeat:repeat-y;background-size:100% 90px;background-position:0 -30px;transition:all .3s}
.label-count{opacity:0;visibility:hidden;font-size:85%;display:inline-block;position:absolute;top:-10px;right:-10px;background:#276da8;color:#fff;white-space:nowrap;padding:0;width:22px;height:22px;line-height:22px;border-radius:100%;text-align:center;z-index:1;transition:all .3s}
.label-size:hover .label-count{opacity:1;visibility:visible;top:-5px}
.label-size a:hover{color:#444;background-image:linear-gradient(to bottom,rgba(255,255,255,1)0,rgba(250,250,250,1)18%,rgba(255,255,255,1)99%,rgba(255,255,255,1)100%);background-position:0 0}
/* Popular Post */
.PopularPosts ul{list-style:none;margin:0 auto;padding:0;}
.PopularPosts li,.PopularPosts li img,.PopularPosts li a,.PopularPosts li a img {margin:0;padding:0;list-style:none;border:none;background:none;outline:none;}
.PopularPosts ul li {margin:0 0 10px;padding:0;position:relative;line-height:1.4em!important;list-style:none;text-align:left!important;font-size:15px !important;}
.PopularPosts ul li a:hover {color:#276da8!important}
.PopularPosts li a{color:#000 !important;font-weight:500 !important;list-style:none}
.PopularPosts .item-thumbnail {display: flex;align-items: center;justify-content: center;width:72px;height:72px;margin:0 20px 15px 0;overflow:hidden;float:left;border-radius:4px;}
.PopularPosts ul li img {width:auto;height:72px;transition:all .3s ease-in-out;border-radius:4px;overflow:hidden;display:block}
.PopularPosts .item-snippet{display:none}
.PopularPosts .item-title {padding:0 0 5px}
.PopularPosts .widget-content ul li:before{color: #fff;counter-increment: count;content: counter(count);position: absolute;left:57px;text-align: center;top:20px;z-index: 51;transition: all .4s;height:25px;min-width:25px;font-size: 14px;line-height:25px;background:#276da8;font-weight:600;border-radius:99em;border:2px solid #fff;text-align: center;padding:0;overflow:hidden;}
.PopularPosts ul{counter-reset:count;}
/* Featured post Default */
.FeaturedPost{clear:both;margin:0 auto 30px;padding:0;list-style:none;}
.FeaturedPost h3{font-weight:600 !important;font-size:19px !important;list-style:none;line-height:1.1em!important;margin:0 0 5px}
.FeaturedPost h3 a{color:#444}
.FeaturedPost img{width:100%;height:auto;margin:15px 0 0}
.FeaturedPost .post-summary{line-height:1.2em!important;font-size:13px;color:#555}
  /* Css Breadcrumbs */
.breadcrumbs {font-size:13px;overflow:hidden;padding:0;margin:0 auto 7px;position:relative;color:#ccc;text-transform:uppercase;overflow:hidden;display:block}
.breadcrumbs a {clear:both;list-style:none;line-height:1.4em;color:#000;background:#e6e6e6;font-weight:600;margin:0 4px 7px 0;padding:5px 9px 1px!important;display:inline-block}
.breadcrumbs span a {color:#000;background:#e6e6e6;}
.breadcrumbs &gt; span:last-child {width:0;color:#ccc}
.breadcrumbs span a:hover {color:#fff;background:#276da8}
.breadcrumbs a:hover {color:#fff;background:#276da8}
/* Featured more */
#featured_more .more_title,#featured_more h2{font-size: 24px;display: inline-block;padding:0;margin:20px auto 15px;color: #000;font-weight:600;text-transform: uppercase;}
#featured_more #fitured{overflow:hidden;margin:0 auto}
#featured_more h2{color:#276da8}
#featured_more #fitured ul,#featured_more #fitured li{clear:both;padding:0;margin:0;list-style:none;position:relative;height:auto!important}
#featured_more #fitured li {clear:both;background:none;padding:0; position:relative!important;margin:0 0 20px; display:block!important; width:100%!important; height:180px!important;left:auto!important;top:auto!important;right:auto!important;text-align:left!important;display:block!important;overflow:hidden}
#featured_more #fitured img{z-index:10;width:320px!important;height:auto;float:left!important;margin-right:20px!important;display:block}
#featured_more #fitured h4{position:relative!important;bottom:auto;left:auto;display:block;padding:20px 15px 0 0!important;margin:0!important;font-size:23px;line-height:1.2em!important;color:#000;font-weight:600!important;overflow:hidden;text-overflow:ellipsis;display:block;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}
#featured_more #fitured .label_text{line-height:1.4em;position:relative;bottom:auto!important;left:auto!important;width:auto;padding:0;margin:4px 0 0;font-size:13px;color:#aaa;background:none;display:block}
#featured_more #fitured .label_text span{margin:0 4px 0 0!important;padding:0!important}
#featured_more .autname{color:#111;display:block!important;padding:0!important;margin:0!important;}
#featured_more .autname:before{content:&quot;Posted By&quot;;font-weight:normal;text-decoration:inherit;color:#aaa;margin-right:7px}
#featured_more .randomnya .overlayx{background:none!important}
#next, #prev,#featured_more .cmnum{display:none!important}
/* footer-wrapper */
#footer-wrapper {background:#000;margin:0 auto;padding:20px 0 0;width:100%;color:#fff;font-size:13px;}
.credit-wrapper{clear:both;position:relative;margin:0 auto;padding:15px 10px 30px;text-align:center;font-weight:normal;line-height:1.4em}
#SystemViral{clear:both;position:relative;margin:0 auto;padding:15px 10px 30px;text-align:center;font-weight:normal;line-height:1.4em}
.credit-wrapper a{color:#276da8 ;list-style:none}
.credit-wrapper a:hover{color:#276da8}
/* Footer menu */
#footer_menu{margin:0 auto;padding:0;position:relative}
#footer_menu ul{margin:0 auto;padding:0 10px;text-align:center;margin:0 auto}
#footer_menu ul li{display:inline-block;margin:10px 0 5px;letter-spacing:1.5px}
#footer_menu ul li a{display:block;color:#fff;padding:0 7px}
#footer_menu ul li a:hover{color:#276da8}
/* CSS Post Table */
table{border-collapse:collapse;border-spacing:0;}
.post-body table td {border:1px solid #e9e9e9;padding:10px;text-align:left;vertical-align:top;}
.post-body table th {border:1px solid #e4373d;padding:10px;text-align:left;vertical-align:top;background:#276da8 !important;color:#fff}
.post-body td, .post-body th{vertical-align:top;text-align:left;font-size:13px;padding:3px 5px;}
.post-body th{background:#fff;font-weight:400;text-transform:uppercase;font-size:14px}
table {max-width:100%;width:100%;margin:1.5em auto;}
table.section-columns td.first.columns-cell{border-left:none}
table.section-columns{border:none;table-layout:fixed;width:100%;position:relative}
table.columns-2 td.columns-cell{width:50%}
table.columns-3 td.columns-cell{width:50%}
table.columns-4 td.columns-cell{width:30%}
table.section-columns td.columns-cell{vertical-align:top}
table.tr-caption-container{padding:4px;margin-bottom:.5em}
td.tr-caption{font-size:80%}
.post-body td img, .post-body th img {list-style:none;max-width:100%;height:auto;padding:0 !important;margin:0 !important}
.post-body table.tr-caption-container img, .post-body table.tr-caption-container img, .post-body img {list-style:none;max-width:100%;height:auto;padding:0 !important;margin:0 auto!important;display:block;text-align:center}
.post-body img {max-width:100% !important;height:auto !important;margin:auto;display:block;text-align:center}
.post-body table.tr-caption-container td {border:none;padding:0 !important;margin:0 auto!important}
.post-body table caption{max-width:100%;height:auto;border:none !important;padding:0 !important;margin:auto;text-align:center}
/* Status msg if click label */
.status-msg-body{padding:10px 0 ; display:none}
.status-msg-wrap{display:none; font-size:14px; margin-left:1px;  width:100%; color:#666;  }
.status-msg-wrap a{color:orange !important;  }
.status-msg-bg{display:none; background:#ccc; position:relative; width:99%; padding:6px; z-index:1;-moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:2px #999 solid }
.status-msg-border{display:none; border:0; position:relative; width:99%}
/* Responsive */
@media screen and (max-width:1024px){
.logo{margin-left:10px;}
#header-right{margin-right:10px}
#content-wrapper{padding:0 10px}
.viral-menu li.homex{margin-left:10px}
.viral-menu ul.viral_social{margin-right:10px;position:absolute;top:0;right:0}
#ads-wrapper{padding:0 10px}
}
@media screen and (max-width:880px){
#main-wrapper,#sidebar-wrapper{max-width:100%;width:100%;float:none;margin:auto;padding:0;position:relative}
#header-left{max-width:100%;float:none;text-align:center;margin:auto;display:block;overflow:hidden}
#header-right{right:0;z-index:999;width:60px}
.logo{margin:auto;text-align:center}
#featured_slide,#search_boxs #searchs{display:none}
#search_boxs #searchs {background:#fff;float:right;top:0;right:0;position:absolute;border:1px solid #e2e2e2;}
#search_boxs #searchs #search_texts{color:#e2e2e2;width:300px;padding:0px 10px;font-size:16px;height:50px;margin-right:0;outline:none;float:right;top:0;font-weight:700;box-sizing:border-box;transition:all .15s;background:none;border:none}
#ads-wrapper .widget-content{padding:0 0 20px}
#search_boxs #searchs{border-radius:99em}
#featured_more #fitured h4{padding:20px 0 0!important;}
#sidebar1 .widget-content,#sidebar2 .widget-content,#sidebar3 .widget-content,#sidebar4 .widget-content,#sidebar5 .widget-content{text-align:center}
/* Menu mobile - tablet - smartphone */
#show-menu,#close-menu{position:absolute;top:30px;left:10px}
#show-menu a:hover,#close-menu a:hover{}
#show-menu{display:block;z-index:3;}
.icon-src,.icon-menu{fill:#333;padding:5px 0 00;background: white;}
.icon-src{padding:10px 0 0}
.icon-src:hover,.icon-menu:hover{fill:#276da8}
#show-menu,#close-menu,#search_boxs .search_buttons{height:50px;line-height:50px;width:50px;overflow:hidden;text-align:center!important;float:left;font-size:20px;font-weight:700;border-radius:99em;border:none!important;background-color:none}
#mobile-menu-show{display:none;}
#close-menu{display:none}
.viral-menu{background: -webkit-linear-gradient(180deg, #276da8, #623740);background:linear-gradient(180deg, #276da8, #623740);height:auto}
.viral-menu ul{margin:0 auto;padding:0;height:auto;width:100%;float:none;display:block}
.viral-menu ul li{list-style:none;display:block;width:100%;transition:all 400ms ease-in-out;border-bottom:1px solid rgba(255,255,255,0.18);position:relative;text-transform:uppercase}
.viral-menu ul li a{color:#fff ;padding:0;height:50px;line-height:50px;display:block;text-align:center;width:100%;text-decoration:none}
.viral-menu ul li a i{font-size:18px;font-weight:normal}
.viral-menu ul li a img{vertical-align:middle!important;}
.viral-menu ul ul {display:none;list-style:none;position:relative;top:100%;width:100%;left:0;right:0;z-index:9999;overflow:hidden}
.viral-menu ul li:hover ul {display:block;background:rgba(224,38,44,.8);position:relative}
.viral-menu ul ul li a {background:rgba(224,38,44,.6);color:#fff !important;float:none;display:block;padding:10px 0;text-align:center;width:100%;}
.viral-menu ul.viral_social{margin:auto;position:relative;top:auto;right:auto;display:block;float:none;text-align:center;max-width:100%}
.viral-menu ul.viral_social  li{display:inline-block;float:left;margin:0 0 10px -3px!important;padding:0!important;text-align:center;height:50px;line-height:50px!important;border:none!important}
.viral-menu ul.viral_social li a{margin:0 auto;padding:0!important;margin:auto!important}
/* Popular post custom */
.PopularPosts ul li {margin:0 0 10px;padding:0 0 10px;border-bottom:1px solid #eee;font-size:17px!important}
.PopularPosts ul li:last-child {margin:0;padding:0;border-bottom:0}
.PopularPosts .item-thumbnail {width:76px;height:76px;margin:0 0 0 20px;float:right;}
.PopularPosts ul li img {height:76px;}
.PopularPosts .widget-content ul li:before{left:auto;right:60px;top:22px}
}
@media screen and (max-width:736px){
#featured_more{display:none}
}
@media screen and (max-width:667px){

}
@media screen and (max-width:600px){
#show-menu,#close-menu,#search_boxs .search_buttons{width:40px;}
.icon-src,.icon-menu{height:25px;width:25px}
.icon-src{padding:6px 0 0}
}
@media screen and (max-width:480px){
#header-wrapper{margin:10px auto}
#header-left{max-width:55%;overflow:hidden}
.logo img{width:100%;height:auto}
#show-menu,#close-menu{top:10px}
#header-right{top:0}
#search_boxs .search_buttons i{line-height:40px;width: 40px; height: 40px;}
#search_boxs #searchs #search_texts{height:38px}
#show-menu a,#close-menu a{line-height:40px;width: 40px; height: 40px;}
}
@media screen and (max-width:414px){
.PopularPosts ul li {font-size:15px!important}
}
@media screen and (max-width:320px){
.logo{margin:3px auto 0}
#search_boxs #searchs #search_texts{width:244px}
}
@media screen and (max-width:240px){
#cnsec {width:100%; display:block; margin:10px 5px;}
#cnsec h2 {display:none;}
              #LinkList1{float:left}

      #HTML1{float:right}
  
}
